.navbar{

    height:70px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:15px;

}

.language-btn,
.notification-btn{

    border:none;

    background:#ecf0f1;

    padding:10px 15px;

    border-radius:10px;

    cursor:pointer;

}

.profile{

    background:#27ae60;

    color:white;

    padding:10px 18px;

    border-radius:10px;

    font-weight:bold;

}